header{
    background-color: rgb(246, 244, 206);
}

h1{
    font-style: italic;
    color: blue;
    text-shadow: 1px 1px 3px rgb(233, 211, 211);
    padding-left: 20px;
    margin-top: 20px;
    font-size: 50px;
}
h1::first-letter{
  text-transform: uppercase;
}

.container-cityNameInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
}

.block-cityNameInput>input{
    font-size: 30px;
    background-color: rgb(232, 217, 206);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgb(215, 125, 125);
    padding-left: 10px;
}

.block-cityNameInput>button{
    font-size: 30px;
    margin-left: 5px;
    background-color: rgb(232, 217, 206);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgb(215, 125, 125);
}

.placeLocationInfo{
    text-shadow: 0 2px 3px rgb(229, 80, 80);
    color:rgb(0, 0, 0);
    padding-left: 20px;
    font-size: 24px;
}