.container-contact-dark {
    background-color: gray;
    min-height: 90vh;
}

.container-contact-winter {
    background-image: url('../../assets/winter_vector.avif');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}

.container-contact-spring {
    background-image: url('../../assets/spring_vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}

.container-contact-summer {
    background-image: url('../../assets/summer_vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}

.container-contact-autumn {
    background-image: url('../../assets/autumn_vector.avif');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}

.contact-block {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.472);
    padding: 30px;
    margin: 40px;
    border-radius: 20px;
}

.contact-h2 {
    text-align: center;
    font-style: italic;
    color: rgb(255, 98, 0);
    text-shadow: 2px 2px 4px rgb(7, 7, 7);
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 50px;
}

.contact-h2::first-letter {
    text-transform: uppercase;
    color: rgb(252, 54, 54);
}

.contact-info span>b {
    color: rgb(227, 191, 191);
    text-shadow: 0 0 3px black;
}

.contact-info p {
    color: white;
}

.contact-info p>span {
    color: rgb(103, 192, 255);
    text-shadow: 0 0 3px black;
    margin-right: 10px;
}

.form-dark {
    position: relative;
    border-radius: 20px;
    max-width: 320px;
    height: 240px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(201, 201, 201);
    box-shadow: 2px 2px 8px 1px black;
}

.form-winter {
    position: relative;
    border-radius: 20px;
    max-width: 320px;
    height: 240px;
    margin-top: 10px;
    padding: 10px;
    background-color: #B8CCE5;
    box-shadow: 2px 2px 8px 1px black;
}

.form-spring {
    position: relative;
    border-radius: 20px;
    max-width: 320px;
    height: 240px;
    margin-top: 10px;
    padding: 10px;
    background-color: #C4E2AF;
    box-shadow: 2px 2px 8px 1px black;
}

.form-summer {
    position: relative;
    border-radius: 20px;
    max-width: 320px;
    height: 240px;
    margin-top: 10px;
    padding: 10px;
    background-color: #B2E1F5;
    box-shadow: 2px 2px 8px 1px black;
}

.form-autumn {
    position: relative;
    border-radius: 20px;
    max-width: 320px;
    height: 240px;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFF6E3;
    box-shadow: 2px 2px 8px 1px black;
}


.name-input {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
    color: rgb(125, 80, 80);
    font-weight: 600;
}

#name {
    border-radius: 10px;
    min-width: 100px;
    margin-left: 2px;
    padding: 2px 5px;
}

.email-input {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
    color: rgb(125, 80, 80);
    font-weight: 600;
}

#email {
    border-radius: 10px;
    min-width: 90px;
    margin-left: 2px;
    padding: 2px 5px;
}

.error-message {
    height: 15px;
    font-size: 11px;
    text-align: right;
    padding-right: 15px;
    color: red;
}

.textarea {
    display: flex;
    flex-direction: column;
    margin: 0 10px 12px 10px;
    color: rgb(125, 80, 80);
    font-weight: 600;
}

#message {
    resize: none;
    height: 80px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

.btn-form {
    position: absolute;
    right: 20px;
    color: rgb(125, 80, 80);
    background-color: rgb(218, 218, 218);
    box-shadow: 1px 1px 5px 0 black;
    font-weight: 600;
    border-radius: 10px;
    padding: 3px 8px;
}

.btn-form:hover {
    box-shadow: 0 0 3px 0 black;
    background-color: rgb(202, 202, 202);
    color: #e94200;
    cursor: pointer;
}

.form-dark .btn-form {
    color: rgb(112, 60, 60);
    background-color: rgb(159, 159, 159);
}

.form-dark .btn-form:hover {
    color: #d85300;
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}

@media (max-width: 540px) {
    .contact-block {
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
    }
    
    .contact-h2 {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 35px;
    }

    #name {
        margin-left: 17px;
    }
}