.wrapper {
    display: grid;
    grid-template: 135px 1fr / 1fr;
}

.main-container {
    display: grid;
    grid-template: 1fr / 3fr 1fr;
}

@media (max-width: 992px) {
    .main-container {
        display: grid;
        grid-template: 3fr 1fr / 1fr;
    }
}

@media (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template: auto 1fr / 1fr;
        min-height: 90vh;
    }

    .main-container {
        display: grid;
        grid-template: 1fr / 1fr;
    }
}