header {
    min-width: 315px;
}

.header-winter {
    background-color: #BCCDE7;
}

.header-spring {
    background-color: #9FDBE3;
}

.header-summer {
    background-color: #FEDEA5;
}

.header-autumn {
    background-color: #F3E6D3;
}

h1 {
    font-style: italic;
    color: rgb(255, 98, 0);
    text-shadow: 2px 2px 4px rgb(7, 7, 7);
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
}

h1::first-letter {
    text-transform: uppercase;
    color: rgb(252, 54, 54);
}

.container-cityNameInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
}

.input-search-city {
    font-size: 28px;
    background-color: rgb(232, 217, 206);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgb(215, 125, 125);
    padding-left: 10px;
    margin-left: -10px;
}

.btn-search-city {
    font-size: 28px;
    margin-left: 5px;
    background-color: rgb(232, 217, 206);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgb(215, 125, 125);
    cursor: pointer;
}

.btn-search-city:hover {
    color: red;
    cursor: pointer;
    box-shadow: 2px 2px 5px 1px rgb(98, 72, 0);
}

.placeLocationInfo {
    text-shadow: 0 2px 3px rgb(229, 80, 80);
    color: rgb(0, 0, 0);
    padding-left: 20px;
    font-size: 22px;
}

.btn-theme {
    position: absolute;
    right: 20px;
    top: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 226, 222);
    box-shadow: 2px 2px 5px 1px rgb(215, 86, 86);
}

.btn-theme:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px 1px rgb(98, 72, 0);
}

.header-dark {
    background-color: gray;
}

.btn-theme-dark {
    position: absolute;
    right: 20px;
    top: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    box-shadow: 0 1px 5px 1px rgb(206, 87, 87);
}

.btn-theme-dark:hover {
    cursor: pointer;
    box-shadow: 0 1px 5px 1px rgb(255, 255, 255);
}

.placeLocationInfo-dark {
    text-shadow: 0 2px 3px rgb(229, 80, 80);
    color: white;
    padding-left: 20px;
    font-size: 22px;
}

.input-search-city-dark {
    font-size: 28px;
    background-color: rgb(67, 67, 67);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgb(215, 125, 125);
    padding-left: 10px;
    margin-left: -10px;
}

.btn-search-city-dark {
    font-size: 28px;
    margin-left: 5px;
    background-color: rgb(67, 67, 67);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgb(215, 125, 125);
    cursor: pointer;
}

.btn-search-city-dark:hover {
    box-shadow: 2px 2px 5px 1px white;
    color: yellow;
}

@media (max-width: 992px) {
    .input-search-city {
        font-size: 22px;
    }

    .btn-search-city {
        font-size: 22px;
    }

    .input-search-city-dark {
        font-size: 22px;
    }

    .btn-search-city-dark {
        font-size: 22px;
    }

    .placeLocationInfo {
        font-size: 18px;
    }

    .placeLocationInfo-dark {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .container-cityNameInput {
        flex-direction: column;
        align-items: start;
        margin: 0 20px 5px;
        height: 60px;
    }

    .block-cityNameInput {
        width: 100%;
    }

    .placeLocationInfo {
        font-size: 16px;
        text-align: right;
        width: 100%;
        padding: 0;
    }

    .placeLocationInfo-dark {
        font-size: 16px;
        text-align: right;
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 540px) {
    .container-cityNameInput {
        margin: 0 20px 5px;
    }

    .input-search-city {
        font-size: 18px;
        width: 200px;
        height: 25px;
    }

    .btn-search-city {
        font-size: 18px;
        height: 25px;
    }

    .input-search-city-dark {
        font-size: 18px;
        width: 200px;
        height: 25px;
    }

    .btn-search-city-dark {
        font-size: 18px;
        height: 25px;
    }

    .placeLocationInfo {
        text-align: center;
        font-size: 14px;
    }

    .placeLocationInfo-dark {
        text-align: center;
        font-size: 14px;
    }
}