footer>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 10px;
}

.footer-content-winter {
    background-image: linear-gradient(90deg, #C9C9C9, #F0F0F0);
}

.footer-content-spring {
    background-color: #a1bc34;
}

.footer-content-summer {
    background-image: linear-gradient(90deg, #004DD9, #0090FB);
}

.footer-content-autumn {
    background-color: rgb(246, 244, 206);
}

ul {
    display: flex;
    list-style: none;
    padding-left: 5px;
}

ul>li {
    margin-left: 10px;
}

ul>li>a {
    text-decoration: none;
    text-shadow: 1px 1px 4px white;
}

ul>li>a:hover {
    border-bottom: 1px solid rgb(92, 7, 7);
    padding-bottom: 5px;
}

.footer-list-winter a {
    color: blue;
}

.footer-list-spring a {
    color: blue;
}

.footer-list-summer a {
    color: white;
}

.footer-list-autumn a {
    color: blue;
}

.author {
    justify-self: end;
    padding-right: 20px;
}

.footer-content-dark {
    background-color: gray;
    color: white;
}

.footer-list-dark>li>a {
    color: blue;
    text-shadow: 1px 1px 4px white;
}

.footer-list-dark>li>a:hover {
    border-bottom: 1px solid rgb(92, 7, 7);
    padding-bottom: 5px;
}

.active {
    color: rgb(92, 7, 7) !important;
}

@media (max-width: 992px) {
    .footer-content-winter {
        background-image: linear-gradient(90deg, #C9C9C9, #f4f4f4);
    }

    .footer-content-spring {
        background-color: #83992b;
    }

    .footer-content-summer {
        background-color: #FFBA6C;
        background-image: none;
    }

    .footer-content-autumn {
        background-color: none;
        background-image: linear-gradient(90deg, #CD360A, #FFAF67, rgb(243, 235, 224));
    }

    .footer-list-summer a {
        color: blue;
    }
}

@media (max-width: 768px) {
    footer>div {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer-content-spring {
        background-color: none;
        background-image: linear-gradient(90deg, #EFF0A0, #a4c035);
    }

    .footer-content-summer {
        background-color: none;
        background-image: linear-gradient(90deg, #014EDC, #0093F8);
    }

    .footer-content-winter {
        background-image: linear-gradient(90deg, #C9C9C9, #f4f4f4);
    }

    .footer-list-summer a {
        color: white;
    }

}