footer{
    background-color: rgb(246, 244, 206);
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.footer-list{
   display: flex;
   list-style: none;
   padding-left: 5px;
}

.footer-list> li{
    margin-left: 10px;
}

.footer-list>li>a{
    text-decoration: none;
}

.footer-list>li>a:hover{
    color:red;
}

.author{
    justify-self: end;
    padding-right: 20px;
}