.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: rgb(246, 244, 206);
}

.footer-list{
   display: flex;
   list-style: none;
   padding-left: 5px;
}

.footer-list> li{
    margin-left: 10px;
}

.footer-list>li>a{
    text-decoration: none;
    text-shadow: 1px 1px 4px black;
}

.footer-list>li>a:hover{
    color:red;
}

.author{
    justify-self: end;
    padding-right: 20px;
}

/* theme-dark*/
.footer-content-dark{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: gray;
    color: white;
}

.footer-list-dark{
    display: flex;
    list-style: none;
    padding-left: 5px;
 }
 
 .footer-list-dark> li{
     margin-left: 10px;
 }
 
 .footer-list-dark>li>a{
     text-decoration: none;
     color: blue;
     text-shadow: 1px 1px 4px white;
 }
 
 .footer-list-dark>li>a:hover{
     color: yellow;
 }

 @media (max-width: 992px) {

}

@media (max-width: 768px) {
    .footer-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }
    .footer-content-dark{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: start;
    }
}

@media (max-width: 540px) {
    
}