main {
    margin-top: 10px;
    margin-right: 10px;
    font-style: italic;
}

.block-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.spring {
    background-image: url('../../assets/spring_vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.summer {
    background-image: url('../../assets/summer_vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.autumn {
    background-image: url('../../assets/autumn_vector.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

.winter {
    background-image: url('../../assets/winter_vector.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

.weather-info-block {
    margin: 0 10px 20px 10px;
    min-height: 300px;
    color: white;
    background-color: rgba(2, 2, 2, 0.712);
    box-shadow: 0 0 5px 1px rgb(215, 125, 125);
}

.season-dark {
    background-color: gray;
    background-image: linear-gradient(90deg, gray, rgba(79, 79, 79, 0.312));
}

.loading-data {
    display: flex;
    background-color: rgba(2, 2, 2, 0.712);
    height: 100vh;
    margin: 40px;
    padding: 30px;
    color: white;
    border-radius: 20px;
}

.loading-data img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.loading-data span {
    font-size: 30px;
}

.failed-data {
    background-color: rgba(2, 2, 2, 0.712);
    height: 100vh;
    margin: 40px;
    padding: 30px;
    color: white;
    border-radius: 20px;
}

@media (max-width: 992px) {
    main {
        margin-right: 0;
    }

    .weather-info-block {
        min-height: 370px;
    }
}

@media (max-width: 768px) {
    .weather-info-block {
        min-height: 264px;
    }
}

@media (max-width: 540px) {
    .block-cards {
        justify-content: center;
        padding-bottom: 30px;
    }

    .weather-info-block {
        display: none;
    }

    .loading-data {
        margin: 15px;
    }

    .failed-data {
        margin: 15px;
        padding: 20px;
        font-size: 15px;
    }
}