
.block-cards {
    display: flex;
    flex-wrap: nowrap;
    height: 250px;
    gap: 10px;
    padding: 10px;
}

[class^="cards"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    min-width: 120px;
    max-width: 220px;
    background-color: rgba(2, 2, 2, 0.712);
    box-shadow: 2px 2px 5px 1px rgb(215, 125, 125);
    color: rgb(255, 191, 0);
    text-align: center;
    user-select: none;
}

.day-week {
    margin-top: 7px;
    height: 20px;
}

.day-month {
    height: 20px;
    margin-top: -20px;
}

[class^="cards"]>img {
    height: 80px;
    width: 80px;
    margin-top: -35px;
}

.cards1 {
    position: relative;
}

.today {
    position: absolute;
    left: 18px;
    color: red;
    font-size: 9px;
    padding: 0 1px;
    position: absolute;
    background-color: white;
}

.temp-day {
    color: white;
    font-size: 22px;
    height: 24px;
    margin-top: -15px;
}

.degrees-celsius {
    display: grid;
    grid-template-columns: minmax(10px, 60px) minmax(10px, 60px);
    line-height: 12px;
    font-size: 14px;
    margin-top: -5px;
    padding-right: 10px;
}

.degrees-max {
    justify-self: end;
}

.month {
    text-align: center;
    font-size: 20px;
    padding-bottom: 7px;
}

.spring {
    background-image: url('../../assets/spring_vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.summer {
    background-image: url('../../assets/summer_vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.autumn {
    background-image: url('../../assets/autumn_vector.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

.winter {
    background-image: url('../../assets/winter_vector.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

.weather-info-block {
    margin: 0 10px 0 10px;
    min-height: 400px;
    color: white;
    background-color: rgba(2, 2, 2, 0.712);
    box-shadow: 2px 2px 5px 1px rgb(215, 125, 125);
}

.loading {
    position: relative;
    top: 105px;
}

.btn-changeShowThree{
    border-radius: 5px;
    border: none;
    color:gray;
    background-color: rgb(232, 217, 206);
    box-shadow: 2px 2px 5px 1px rgb(206, 87, 87);
    margin-left: 10px;
    margin-top: 5px;
}

.btn-changeShowThree:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px 1px rgb(98, 72, 0);
    color:red;
}

.btn-changeShowFive{
    border-radius: 5px;
    border: none;
    color:gray;
    background-color: rgb(232, 217, 206);
    box-shadow: 2px 2px 5px 1px rgb(215, 86, 86);
    margin-left: 5px;
    margin-top: 5px;
}

.btn-changeShowFive:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px 1px rgb(98, 72, 0);
    color:red;
}

.btn-changeShowSeven{
    border-radius: 5px;
    border: none;
    color:gray;
    background-color: rgb(232, 217, 206);
    box-shadow: 2px 2px 5px 1px rgb(215, 86, 86);
    margin-left: 5px;
    margin-top: 5px;
}

.btn-changeShowSeven:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px 1px rgb(98, 72, 0);
    color:red;
}

.active-block{
    box-shadow: 0 0 5px 2px rgb(214, 0, 0);
}

/* dark theme i do*/

.season-dark{
    background-color: gray;
    background-image: linear-gradient(90deg, gray, rgba(79, 79, 79, 0.312));
    /* box-shadow: 0 0 5px 0 black; */
}

.btn-changeShowThree-dark{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    box-shadow: 0 0 5px 1px rgb(206, 87, 87);
    margin-left: 10px;
    margin-top: 5px;
}

.btn-changeShowThree-dark:hover{
    cursor: pointer;
    box-shadow: 0 1px 5px 1px rgb(255, 255, 255);
    color:yellow;
}

.btn-changeShowFive-dark{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    box-shadow: 0 0 5px 1px rgb(206, 87, 87);
    margin-left: 5px;
    margin-top: 5px;
}

.btn-changeShowFive-dark:hover{
    cursor: pointer;
    box-shadow: 0 1px 5px 1px rgb(255, 255, 255);
    color:yellow;
}

.btn-changeShowSeven-dark{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    box-shadow: 0 0 5px 1px rgb(206, 87, 87);
    margin-left: 5px;
    margin-top: 5px;
}

.btn-changeShowSeven-dark:hover{
    cursor: pointer;
    box-shadow: 0 1px 5px 1px rgb(255, 255, 255);
    color:yellow;
}